n8n-video-script-workflow.json
{
  "name": "Video Script Generator - Workflow Viết Kịch Bản Video",
  "nodes": [
    {
      "parameters": {},
      "id": "8c0e1e5c-d89e-4f7e-9a1b-3e8f5c6d4a2b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "video_topic",
              "value": "={{ $json.topic || \"Hướng dẫn sử dụng AI trong công việc hàng ngày\" }}"
            },
            {
              "name": "video_duration",
              "value": "={{ $json.duration || \"5-7 phút\" }}"
            },
            {
              "name": "target_audience",
              "value": "={{ $json.audience || \"Người làm việc văn phòng, độ tuổi 25-45\" }}"
            },
            {
              "name": "video_style",
              "value": "={{ $json.style || \"Giáo dục, thân thiện, dễ hiểu\" }}"
            },
            {
              "name": "key_points",
              "value": "={{ $json.key_points || \"3-5 điểm chính cần truyền tải\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7d3a8b1-4c2e-4d9f-b3e5-7a9c2d8e1f6b",
      "name": "Set Video Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "script_prompt",
              "value": "=Bạn là một chuyên gia viết kịch bản video chuyên nghiệp.\n\nYêu cầu: Viết một kịch bản video hoàn chỉnh với các thông tin sau:\n\n📌 CHỦ ĐỀ VIDEO: {{ $json.video_topic }}\n⏱️ THỜI LƯỢNG: {{ $json.video_duration }}\n👥 ĐỐI TƯỢNG: {{ $json.target_audience }}\n🎨 PHONG CÁCH: {{ $json.video_style }}\n📍 ĐIỂM CHÍNH: {{ $json.key_points }}\n\nKịch bản cần bao gồm:\n\n1. **HOOK (0-15 giây)**: Câu mở đầu hấp dẫn thu hút người xem\n2. **GIỚI THIỆU (15-45 giây)**: Giới thiệu chủ đề và lý do quan trọng\n3. **NỘI DUNG CHÍNH (Phần lớn video)**: \n   - Chia thành các phần rõ ràng\n   - Mỗi phần có tiêu đề và nội dung cụ thể\n   - Bao gồm ví dụ minh họa\n   - Gợi ý hình ảnh/video minh họa cho từng phần\n4. **KẾT LUẬN (30-60 giây cuối)**: Tóm tắt và call-to-action\n\nĐịnh dạng output:\n- Sử dụng markdown rõ ràng\n- Đánh dấu thời gian cho từng phần [MM:SS]\n- Ghi chú hình ảnh/video B-roll cần thiết\n- Ghi chú âm thanh/nhạc nền (nếu cần)\n- Ghi chú text on screen (nếu cần)\n\nHãy viết kịch bản chi tiết, hấp dẫn và chuyên nghiệp!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8e4c9f2-3d7a-4e1b-9c5f-2a8d6e3b1f7c",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo-preview",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo-preview"
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.script_prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "id": "e9c3f7b2-6d4a-4e8c-b1f5-9a2e7c8d3f6b",
      "name": "OpenAI - Generate Script",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        900,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "x1y2z3w4-v5u6-7890-txyz-ab1234567890",
              "name": "video_script",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "p9o8i7u6-y5t4-3210-rqwe-dc9876543210",
              "name": "generated_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "m5n4b3v2-c1x0-9876-zasd-qw1234567890",
              "name": "topic",
              "value": "={{ $('Set Video Parameters').item.json.video_topic }}",
              "type": "string"
            },
            {
              "id": "l8k7j6h5-g4f3-2109-dsdf-er9876543210",
              "name": "duration",
              "value": "={{ $('Set Video Parameters').item.json.video_duration }}",
              "type": "string"
            },
            {
              "id": "q2w3e4r5-t6y7-8901-uiop-as1234567890",
              "name": "word_count",
              "value": "={{ $json.message.content.split(' ').length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d7f9e3b1-8c6a-4d2e-9f5b-7a3c8e2d1f6b",
      "name": "Format Script Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "=video-script-{{ $json.topic.replace(/[^a-z0-9]/gi, '-').toLowerCase() }}-{{ $now.format('yyyy-MM-dd-HHmmss') }}.json"
        }
      },
      "id": "c8d2e9f3-7b5a-4e1c-9d6f-3a8b7e2c1f9d",
      "name": "Save as JSON",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "fileName": "=video-script-{{ $json.topic.replace(/[^a-z0-9]/gi, '-').toLowerCase() }}-{{ $now.format('yyyy-MM-dd-HHmmss') }}.md"
        }
      },
      "id": "b5e8c3f2-9d7a-4e6b-8c1f-2a9d7e3b5f8c",
      "name": "Save as Markdown",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1d2f3g4-h5j6-7890-klmn-op1234567890",
              "name": "summary",
              "value": "=✅ Kịch bản video đã được tạo thành công!\n\n📌 Chủ đề: {{ $json.topic }}\n⏱️ Thời lượng: {{ $json.duration }}\n📝 Số từ: {{ $json.word_count }}\n🕐 Thời gian tạo: {{ $json.generated_at }}\n\n📄 Kịch bản đã được lưu dưới 2 định dạng:\n- JSON (cho xử lý tự động)\n- Markdown (cho đọc và chỉnh sửa)\n\n💡 Bạn có thể sử dụng kịch bản này để:\n- Quay video\n- Tạo voice-over\n- Lên kế hoạch B-roll\n- Chia sẻ với team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a3c7e9f1-2d5b-4e8c-9f6d-7a2b8e3c1f5d",
      "name": "Summary Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Video Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Parameters": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Script": {
      "main": [
        [
          {
            "node": "Format Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Script Output": {
      "main": [
        [
          {
            "node": "Save as JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save as Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save as JSON": {
      "main": [
        [
          {
            "node": "Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save as Markdown": {
      "main": [
        [
          {
            "node": "Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
  "id": "video-script-generator-workflow",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": [
    {
      "createdAt": "2025-11-07T00:00:00.000Z",
      "updatedAt": "2025-11-07T00:00:00.000Z",
      "id": "1",
      "name": "Video"
    },
    {
      "createdAt": "2025-11-07T00:00:00.000Z",
      "updatedAt": "2025-11-07T00:00:00.000Z",
      "id": "2",
      "name": "AI Content"
    },
    {
      "createdAt": "2025-11-07T00:00:00.000Z",
      "updatedAt": "2025-11-07T00:00:00.000Z",
      "id": "3",
      "name": "Script Writing"
    }
  ]
}
